* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  /* font-family: Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  
  --top-bar-background-color: #1D1D1D;
  --live-rate-negative-color: #CD0909;
  --live-rate-positive-color: #2C980C;
  --separator-border-color: #CFCFCF;
  --rate-color: #7C7C7C;
}

a {
  text-decoration: none;
}

.horizontal {
  display: flex;
}

/* ---- Top bar of the page ---- */

#top-bar {
  background-color: var(--top-bar-background-color);

  .container-top {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .breaking-news h4 {
    line-height: 18px;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .currencies {
    display: flex;
  
    .exchange {
      padding: 0 32px;
  
      .horizontal {
        .label {
          padding: 0 16px 0 0;
          font-weight: 600;
        }
    
        .current-rate {
          color: var(--rate-color);
        }
      }
    
      .live-rate {
        display: flex;
        align-items: center;
        
        p {
          color: var(--live-rate-positive-color);
          font-size: 1.5rem;
        }

        svg {
          width: 20px;
          height: 20px;
          margin-right: 16px;
          fill-rule: evenodd;
          clip-rule: evenodd;
          stroke-linejoin: round;
          stroke-miterlimit: 2;
        }
      }
    
      .negative {
        svg {
          fill: var(--live-rate-negative-color) !important;
        }
        p {
          color: var(--live-rate-negative-color);
        }
      }
      .positive {
        svg {
          fill: var(--live-rate-positive-color) !important;
        }
        p {
          color: var(--live-rate-positive-color);
        }
      }
    }
  }
}

/* ---- Logo ---- */
#logo {
  display: flex;
  height: 200px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--separator-border-color);

  img {
      width: 420px;
      height: 41px;
      margin-right: 40px;
    }
  
    .ad {
      position: relative;
      background-color: lightgray;
      height: 125px;
      width: 50%;
  
      .info {
        position: absolute;
        left: 40%;
        top: 35%;
        font-size: 1.8rem;
      }
    }
}

/* ---- Main Menu ---- */
#menu-bar {
  background-color: white;

  .container {
      display: flex;
      width: 90%;
      padding: 16px 0;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;

      .navigation {
        ul {
            display: flex;
            list-style-type: none;
        
            li {
            padding-left: 16px;
            
            a {
                font-size: 1.5em;
                text-transform: uppercase;
                color: black;
                text-decoration: none;
            }
          }
        }
      }

      .search-button {
      width: 30px;
      height: 30px;
      }
  }  
}

#main .container {
  width: 90%;
  margin: 0 auto; 
}

.about-us {
  /* width: 100%; */
  background-color: #dfdfdf;
  
}

.abouto {
  color: rgb(0, 0, 0);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 2.5em;
  }

  .date {
    color: gray;
  }
}

.history {
  text-align: left;
  margin: 100px 0;  
}

.title {
  font-size: 3rem;
  font-family: serif;
  color: black;
}

/* pour séparer texte  */
.text-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);

  p {
    font-size: 1.3rem;
  }
}   

.text-left {
  
  margin-right: 50px;
}

.team {
  margin: 40px 0;
  color: rgb(0, 0, 0);
}

.team-members {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.member {
  text-align: center;
  width: 15%;

  img {
    width: 100%;
    border-radius: 50%;
  }

  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.social-links img {
  width: 25px; 
  height: 25px; 
  object-fit: cover
}

.social-links a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
}

.join-team {
  color: whitesmoke;
  position: relative;
  height: 50vh;
  background: url(/img/blog-img/cta.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .join-team {
    height: 300px;
  }
}

/* Media queries pour les grands écrans */
@media (min-width: 769px) {
  .join-team {
    height: 500px;
  }
}

.join-team h3 {
  font-size: 2em;
  margin-bottom: 20px;
  position: relative; /* Positionner relativement pour que le texte soit au-dessus de l'image */
  z-index: 1; /* Assurer que le texte est au-dessus */
}

.join-team p {
  position: relative;
  z-index: 1;
}

/* Couleur de fond semi-transparente */
.join-team::before {
  content: ""; /* Contenu vide pour la pseudo élément */
  position: absolute; /* Positionner en absolu pour couvrir la section trop chiant ca */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Noir avec 50% de transparence */
  z-index: 0; /* Assurer que cette couche est en dessous du texte */
}
.contact-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  position: relative; /* Changer de absolute à relative */
  margin: 20px auto;
  display: inline-block;
}

.heart {
  color: red;
}

.the {
  color: rgb(138, 138, 138);
}

.gazette {
  color: black;
}

.ad-banner {
  width: 100%;
  max-width: 1728px;
  height: 90px;
  background-color: #e5e5e5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.news-content {
  display: flex; /* Permet d'afficher le texte des breaking news et des currencies sur la même ligne */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.breaking-text {
  margin-right: 20px;
}

.currency {
  font-size: 0.9em;
}




.end {
  bottom: 0;
}

/* final pour footer  */
footer {
  background-color: #333;
  position: relative;
  padding: 40px;
  text-align: center;
  color: whitesmoke;
  background: url(/img/bg-img/4.jpg) no-repeat center;
  background-size: cover;
  height: auto;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Pour espacer les h4 et texte  */
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.footer-columns h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.footer-columns ul {
  list-style-type: none;
  padding: 0;
}

.footer-columns ul li {
  margin-bottom: 10px;
}

.footer-columns ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Responsive footer pour les petits écrans */
@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .footer-columns h4 {
    margin: 10px 0;
  }
}

/* Animation de l'apparition en mode drip */
.fade-in {
  opacity: 0; /* Commence complètement transparent */
  transform: translateY(20px); /* Se déplace légèrement vers le bas */

  /* Je sais que vous aimez pas les commentaires mais ca je viens de l'apprendre alors je laisse tout les commentaires pour les futur utilisation  */

  animation: fadeIn 1s forwards; /* Animation de 1 seconde */
}

@keyframes fadeIn {
  to {
    opacity: 1; /* Devenir complètement opaque */
    transform: translateY(0); /* Revenir à sa position d'origine */
  }
}
/* Style du conteneur de recherche en bien */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.search-container form {
  display: flex;
  align-items: center;
}

/* BOUTONS DE RECHERCHE */

/* Style du champ de recherche */
#searchInput {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

/* Style du bouton de recherche */
.search-btn {
  padding: 8px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #555;
}

.search-btn i {
  font-size: 16px;
}

footer hr,
footer p {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

/* Bouton retour en haut */
.back-to-top {
  position: absolute;
  right: 35px;
  bottom: 0px;
  background-color: #ff0057; /* Couleur du bouton */
  color: white;
  padding: 10px;
  border-radius: 10%;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 2; /* pour priorité de qui va au dessus de qui  */
}

.back-to-top:hover {
  background-color: #e6004c;
}

/* Bonus  */

/* CHAT BOT TEST POUR PROJET TEST */

.chat-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
}

.chat-box {
  height: 300px;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}

.user-message {
  text-align: right;
  margin: 5px 0;
}

.bot-message {
  text-align: left;
  margin: 5px 0;
}

input[type="text"] {
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

/* butons animé en hover EE */
@keyframes colorChange {
  0% {
    color: #ff0000;
  }
  16% {
    color: #ff7f00;
  }
  33% {
    color: #ffff00;
  }
  50% {
    color: #7fff00;
  }
  66% {
    color: #00ff7f;
  }
  83% {
    color: #00ffff;
  }
  100% {
    color: #0000ff;
  }
}

.color-change-link {
  display: inline-block; /* Pour appliquer des propriétés de style de bloc */
  border-radius: 10px;
  background-color: transparent; /* Aucune couleur de fond */
  color: #000000; /* Couleur de texte par défaut */
  text-decoration: none; /* Enlever le soulignement du lien */
  transition: color 0.5s; /* Transition pour l'effet au survol */
}

.color-change-link:hover {
  animation: colorChange 4s infinite; /* Appliquer l'animation au survol */
}

/* Glitch  */

/* Glitch butons  */
@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff0000, -2px -2px #00ffff;
    transform: translate(0);
  }
  20% {
    text-shadow: -2px -2px #ff0000, 2px 2px #00ffff;
    transform: translate(-2px, 2px);
  }
  40% {
    text-shadow: 2px -2px #ff0000, -2px 2px #00ffff;
    transform: translate(2px, -2px);
  }
  60% {
    text-shadow: -2px 2px #ff0000, 2px -2px #00ffff;
    transform: translate(1px, 1px);
  }
  80% {
    text-shadow: 2px 2px #ff0000, -2px -2px #00ffff;
    transform: translate(-1px, -1px);
  }
  100% {
    text-shadow: none;
    transform: translate(0);
  }
}

.glitch-text {
  position: relative;
  display: inline-block;
  color: #fff; /* Couleur de texte par défaut */
  background: #cecece; /* Fond pour mieux voir l'effet */
  text-decoration: none;
  font-size: 24px; /* Taille de texte */
  letter-spacing: 1px; /* Espacement entre les lettres */
  transition: all 0.2s ease-in-out;
}

.glitch-text:hover {
  animation: glitch 0.3s steps(2, end) infinite; /* Appliquer l'animation glitch */
}

/* glitch Text  */

#glitch-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  background: #000;
  color: #fff;
  caret-color: #fff; /* La couleur du curseur de texte */
}

/* butons changement  */
.join-team a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;

  border-radius: 5px;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.join-team a:hover {
  background-color: #ffffff;
  color: black;
}



/* animation fade  */

