* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


:root {
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    
    --top-bar-background-color: #1D1D1D;
    --live-rate-negative-color: #CD0909;
    --live-rate-positive-color: #2C980C;
    --separator-border-color: #CFCFCF;
    --rate-color: #7C7C7C;
}

a {
    text-decoration: none;
}

.horizontal {
    display: flex;
}

#top-bar {
    background-color: var(--top-bar-background-color);
  
    .container-top {
      height: 100px;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  
    .breaking-news h4 {
      line-height: 18px;
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }
  
    .currencies {
      display: flex;
    
      .exchange {
        padding: 0 32px;
    
        .horizontal {
          .label {
            padding: 0 16px 0 0;
            font-weight: 600;
          }
      
          .current-rate {
            color: var(--rate-color);
          }
        }
      
        .live-rate {
          display: flex;
          align-items: center;
          
          p {
            color: var(--live-rate-positive-color);
            font-size: 1.5rem;
          }
  
          svg {
            width: 20px;
            height: 20px;
            margin-right: 16px;
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
          }
        }
      
        .negative {
          svg {
            fill: var(--live-rate-negative-color) !important;
          }
          p {
            color: var(--live-rate-negative-color);
          }
        }
        .positive {
          svg {
            fill: var(--live-rate-positive-color) !important;
          }
          p {
            color: var(--live-rate-positive-color);
          }
        }
      }
    }
  }
  
  /* ---- Logo ---- */
  
  #logo {
    display: flex;
    height: 200px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--separator-border-color);
  
    img {
        width: 420px;
        height: 41px;
        margin-right: 40px;
      }
    
      .ad {
        position: relative;
        background-color: lightgray;
        height: 125px;
        width: 50%;
    
        .info {
          position: absolute;
          left: 40%;
          top: 35%;
          font-size: 1.8rem;
        }
      }
  }
  
  
  /* ---- Main Menu ---- */
  
#menu-bar {
    background-color: white;

    .container {
        display: flex;
        width: 90%;
        padding: 16px 0;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        .navigation {
        ul {
            display: flex;
            list-style-type: none;
        
            li {
            padding-left: 16px;
            
            a {
                font-size: 1.5em;
                text-transform: uppercase;
                color: black;
                text-decoration: none;
            }
            }
        }
        }

        .search-button {
        width: 30px;
        height: 30px;
        }
    }  
}


.ad-space {
    background-color: #ccc;
    padding: 35px;
    color: #fff;
    text-align: center;
    margin-left: 40px;
    width: 1000px
   
    
}

.about-us {
    background-color: #ece2e2;
    padding: 40px;
    color: #0a0a0a;
}

.about {
    font-style: normal;
    font-size: 1.5em;
    margin-top: 10px;
    margin: left 20px; 
}

.right {
    font-style: oblique;
    margin-top: 10px;
    
}

.edit {
    position: relative; 
    background-image: url(../img/bg-img/1.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; 
    padding: 40px;
    margin-bottom: 40px;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    z-index: 1; 
}

/* Dark overlay */
.edit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1; 
}

.text{
    position: relative;
    color:white;
    font-size: 2.1em;
}
.date{
    position: relative;
    color:white;
    font-size: 1.1em;
    font-style: italic;
}


.editorial {
    background-color: red;
    padding: 10px;
    color: white;
    font-size: large;
    width: fit-content;
    margin-top: 10%;
    
}

.paragraph {
    text-align: left;
    font-style: italic;
    line-height: 1.6;
    margin-left: 20%;
    margin-right: 20%;
    color: grey;
    font-size: large;
   
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

blockquote {
    width: 80%;
    margin: 40px auto;
    font-size: 1.2em;
    font-style: italic;
    color: #333;
    padding-left: 20px;
    border-left: 5px solid #333;
    line-height: 1.6;
}

.discussion-section {
    color: black;
    background-color: rgb(231, 228, 228);
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.paragraph {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    margin-left: 20%;
    font-size: 24px;
    margin-bottom: 20px;
}

.comment {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment2 {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 20%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.user-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.user-details .date {
    font-size: 14px;
    color: #777;
}

.comment-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.reply-btn {
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.reply-btn:hover {
    background-color: #333;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color:rgb(231, 228, 228);
    margin-left: 20%;
    margin-right: 20%;
    
    
}

.contact-form {
    width: 90%;
}

h3 {
    width: 100%;
    font-size: 2.0em;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #8e8d8d;
    padding-bottom: 20px;
    text-align: left;
}


form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color:white;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="button"] {
    font: 17px Calibri;
    width: auto;
    float: right;
    cursor: pointer;
    padding: 7px;
    padding: 15px;
    background-color: transparent;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #000;
    color: #fff;
}

/* .footer {
    position: relative; 
    background-image: url(../img/bg-img/4.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px; 
    padding: 40px;
    bottom: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1; 
}

Dark overlay
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0px;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    table-layout: fixed; 
}

th, td {
    padding: 20px; 
    text-align: center; 
    vertical-align: middle; 
}

th {
    font-size: large;
    font-weight: bold; 
}

td {
  color: #e9e7e7;
   }

   .copyright {
    font-weight: bold;
    font-style: italic;
    font-size: small;
   }

   .goto {
    position: absolute; 
    right: 20px; 
    bottom: 1px;
    background-color: #e74c3c; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
    border-radius: 5px; 
    
    } */

/* ---- Footer ---- */
footer {
    position: relative;
    background-color: #333;
    padding: 40px;
    text-align: center;
    color: whitesmoke;
    background: no-repeat center url("/img/bg-img/4.jpg");
    background-size: cover;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
  
    .footer-columns {
      display: flex;
      justify-content: space-around;
      position: relative;
      z-index: 1;
      padding-bottom: 20px;
      border-bottom: 2px solid #333;
    
      h4 {
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
    
      ul {
        list-style-type: none;
      
        li {
          margin-bottom: 10px;
    
          a {
            color: white;
          }
        }
      }
    }
  
    .copyright {
      position: relative;
      z-index: 1;
    }
  }
  

